.component-wrapper{
width: 100%;
z-index: 100;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
}

.to-home-button{
  background: white;
  padding: 10px;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.select-wrapper{
  width: 50%;
  margin: 20px;
  text-align: left;
  padding: 10px;
  padding-bottom: 30px;
}

.select-style{
  display: block;
  margin: 10px;
  background: #98FB98;
  border: 2px solid #E9967A;
  font-family: 'EB Garamond', serif;
  font-size: 20px;

}

/*font-family: 'Lobster', cursive;
font-family: 'EB Garamond', serif;*/

/*.to-home-button:hover{
  font-size: 20px;
  font-weight: bold;
}*/

.title{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #E9967A;
}

.gin-cocktail-wrapper{
width: 50%;
background: red;
position: relative;
left: 100px;
}

.vodka-cocktail-wrapper{
width: 50%;
background: green;
position: relative;
left: 100px;
}

.rhum-cocktail-wrapper{
width: 50%;
background: pink;
position: relative;
left: 100px;
}

.alcolic-page-background{
  width: 100%;
  height: 100vh;
  z-index: -100;
  /*opacity: 0.3;*/
  background-image: url('../../images/image2.jpeg');
  position: absolute;

  background-position: center;
  background-size: cover;
}

.hidden{
  display: none;
}

.getTransparence{
  opacity: 0.3;
}


.backhome-whole-box{
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #98FB98;
  opacity: 0.4;
  border-radius: 10px;
  transition: all 1s ease;
}

.backhome-items-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.backhome-item{
  width: 100%;
  color: #E9967A;
  opacity: 1;
  height: 100px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  transition: all 1s ease;

}



.backhome-whole-box:hover{
  background: #E9967A;
  opacity: 0.8;
}

.backhome-item:hover{
  cursor: pointer;
  transform: scale(1.2);
}
