.component-wrapper{
width: 80%;
z-index: 100;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: auto;
margin-bottom: auto;
justify-content: flex-start;
padding: 20px;
}

.to-home-button{
  background: white;
  padding: 10px;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.select-wrapper{
  width: 33%;
  text-align: left;
  padding-bottom: 30px;
}

.select-style{
  display: block;
  margin: 10px;
  background: #98FB98;
  border: 2px solid #E9967A;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}



.title{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #E9967A;
  position: relative;
  left: 12%;
}

.gin-cocktail-wrapper{
width: 50%;
position: relative;
margin-left: auto;
margin-right: auto;
}

.gin-cocktail-wrapper{
width: 50%;
background: #FF9966;
padding: 10px;
margin-right: auto;
margin-left: auto;
display: flex;
flex-direction: column;
}

.vodka-cocktail-wrapper{
width: 50%;
background: #FF9966;
padding: 10px;
margin-right: auto;
margin-left: auto;
display: flex;
flex-direction: column;
}

.rhum-cocktail-wrapper{
width: 50%;
background: pink;
position: relative;
margin-left: auto;
margin-right: auto;
}

.item-wrapper{
  width: 100%;
  text-align: center;
}


.alcolic-page-background{
  width: 100%;
  height: 100vh;
  z-index: -100;
  /*opacity: 0.3;*/
  background-image: url('../../images/image2.jpeg');
  position: absolute;

  background-position: center;
  background-size: cover;
}

.hidden{
  display: none;
}

.getTransparence{
  opacity: 0.3;
}


.backhome-whole-box{
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #98FB98;
  opacity: 0.4;
  border-radius: 10px;
  transition: all 1s ease;
}

.backhome-items-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.backhome-item{
  width: 100%;
  color: #E9967A;
  opacity: 1;
  height: 100px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  transition: all 1s ease;
}

.drink-img{
  width: 50%;
}

#type1{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#type2{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

#type3{
  font-family: 'Lobster', serif;
  font-size: 20px;
}

#type4{
  font-family: 'EB Garamond', serif;
  font-size: 15px;
  font-weight: lighter;
}

.backhome-whole-box:hover{
  background: #E9967A;
  opacity: 0.8;
}

.backhome-item:hover{
  cursor: pointer;
}
