.component-wrapper{
width: 100%;
background: pink;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
}

.select-wrapper{
  width: 20%;
  text-align: left;
  padding: 10px;
  background: green;
}

.cocktail-wrapper{
width: 50%;
background: red;
}
